*{
    touch-action: none;
}
.container {
    width: 100vw;
    height: 100vh;
    min-height: 300px;
    min-width: 200px;
    background: #f3f3f3;
    position: relative;
    overflow: hidden;
}

.header{
    position: absolute;
    width: 100%;
    background: transparent;
    top: 0px;
    left: 0px;
    height: 50px;
    border-color: #dedede;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.main{
    position: absolute;
    top: 0px;
    bottom: 50px;
    width: 100%;
    overflow-y: scroll;
    transition: all ease-out .2s;
}

.main::-webkit-scrollbar {
    display: none;
}

.footer{
    position: absolute;
    /* height: 50px; */
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    transition: all ease-out .3s;
    background: transparent;
}

.newmessage{
    position: absolute;
    bottom: 55px;
    border:none;
    left: 50%;
    width: 120px;
    height: 24px;
    margin-left: -60px;
    border-radius: 12px;
    font-size: 12px;
    color: #ffffff;
    background: #0c7098;
    transition: all ease-out .2s;
}

.newmessage:focus{
    outline: none;
}

.extends{
    max-height: 50px;
}