.menu{  
    display: inline-block;
    width: 25%;
    height: 50%;
    cursor: pointer;
}

.menu.disabled{
    color: #8a8a8a;
    cursor: not-allowed
}

.content{
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    margin: 15px 10px;
    height: 70px;
}

.icon{
    height: 40px;
    margin: 0px;
}

.icon i{
    display: block;
    line-height: 40px;
    font-size: 20px;
}

.text{
    line-height: 30px;
    margin: 0px;
    font-size: 12px;
}

.link{
    color: #000000;
    text-decoration: none;
}

.link:link{
    text-decoration: none;
}