.container{
    margin-bottom: 0px;
}

.self{
    text-align: right;
    
}

.other{
    text-align: left;
    margin-bottom: 15px;
    
}

.system{
    text-align: center;
}

.messages{
    padding: 15px;
}

.message{
    padding: 10px 15px;
    margin-bottom: 20px;
    background: #ffffff;
    color: #000;
    display: inline-block;
    border-radius: 3px;
    /* border: 1px solid #e4e4e4; */
    max-width: 85%;
    position: relative;
}

.message:after{
    content: '';
    position: absolute;
    border-style: solid;
}

.self .message{
    background: #23ace2;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.other .message{
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,.2);
}

.self .message:after{
    border-color: transparent transparent #23ace2 #23ace2;
    border-width: 6px;
    right: -8px;
    bottom: 0px
}

.other .message:after{
    border-color: #ffffff #ffffff transparent transparent;
    border-width: 6px;
    left: -8px;
    top: 0px;
}

.body{
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 25px;
}

.footer{
    font-size: 10px;
    padding: 5px 0px 0px;
}

.avatar{
    float: left;
    
}

.notice{
    padding: 10px 0px;
    color: #888888;
    text-align: center;
}

.notice p{
    margin: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    background: #b9b9b9;
    height: 22px;
    border-radius: 11px;
    padding: 0px 15px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
}

.status{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #000;
    vertical-align: bottom;
    margin: 3px;
    margin-bottom: 23px;
}

.status.fail{
    background: #b52323;
}

.status.success{
    background: #28ce28;
}

.sending{
    vertical-align: bottom;
    margin-bottom: 10px;
}

.header{
    margin: 0px;
    font-size: 12px;
    margin-bottom: 5px;
    color: #828282;
}

.time{
    margin-left: 5px;
}

.feedback{
    position: relative;
    border: none;
    background: #ffffff;
    vertical-align: bottom;
    margin-bottom: 21px;
    margin-left: 5px;
    padding: 0px;
}