.message{
    padding: 10px 15px;
    margin: 20px;
    margin-top: 0px;
    background: #ffffff;
    color: #000;
    display: inline-block;
    clear: both;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

.message.text{
    word-wrap: break-word;
    max-width: 60%;
    text-align: left;
}

.self{
    float: right;
    background: #23ace2;
    color: #fff;
}

.other{
    float: left;
}